.cards_container {

}

.cards {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;    
    padding-bottom: 50px;
}

.cards ul {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    width: 100%;
    list-style: none;

}

.cards ul li{
    width: 33%;
    padding: 20px;
}

.cards ul li .card_link {

}

.cards ul li a{
    text-decoration: none;
}

.cards ul li h5 {
    font-size: 14px;
    color: var(--text);
}

.cards ul li p {
    font-size: 14px;
    color: var(--text);
}

.cards ul li img{
    width: 100%;
    
    object-fit: cover;

    border-radius: 5px;
}

.card_img_container {
    position: relative;
}

.card_img_container::after {
    content: attr(data-category);
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 10px 15px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: #0000003f;
    box-sizing: border-box;
    border-radius: 30px;
    display: none;
}


    .cards ul li:hover .card_img_container::after {
        display: block;
    }

    .cards ul li:hover .cards ul li {
        filter: grayscale(80%);
    }

@media (max-width: 1080px) {
    .cards ul li{
        width: 50%;
        padding: 20px;
    }
}

@media (max-width: 640px) {
    .cards ul li{
        width: 100%;
        padding: 20px;
    }
}